<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Enrollement complete</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/business-frontpage.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">
      <div class="text-center">
        <!-- <div class="col-sm-8"> -->
          <h2 class="mt-4">Please visit CMAA to sign the necessary forms</h2>
          <p>Vui lòng truy cập CMAA để ký các biểu mẫu cần thiết</p>
          <p>请访问CMAA以签署必要的表格</p>
          <p>Por favor, visite CMAA para firmar los formularios necesarios.</p>
        <!-- </div> -->
      </div>
      <!-- /.row -->
 

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Chinese Mutual Aid Association 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>