<!DOCTYPE html>
<html>
<head>
	<title>New Enrollment</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Enrollment</h1>
    </div>
</div>
    <div class="container">
    {% load bootstrap4 %}
    <form action="" method="post" class="form-group col-md-5">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
           {% bootstrap_button "Enroll" button_type="submit" button_class="btn-primary" %}
    {% endbuttons %}
</form>
</div>

</body>
</html>