<!DOCTYPE html>
<html>
<head>
	
	<title>CMA-Portal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
		.container  {
			padding-top: 20px;
		}
	</style>
</head>

<body>
<div class="top container">
	<!-- Contains the heading -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to CMAA</h1>
    <p class="lead">It's a simple web that helps you enroll for the kid and keep check on the kids progress</p>
 </div>
</div>
<div class="row">
<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Enroll</h5>
    <p class="card-text">This will help you enroll</p>
    <a href="/form" class="btn btn-primary">Enroll</a>
  </div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <p class="card-text">Here you can login and check progress report</p>
    <a href="{%url 'login'%}" class="btn btn-primary">Login</a>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
