<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
<p>,<strong>First Name: </strong>{{register.first}}</p>
<p><strong>Last Name: </strong>{{register.last}}</p>
<p><strong>Address: </strong>{{register.address}}</p>
<p><strong>Telephone: </strong>{{register.telephone}}</p>
<p><strong>Is Homeless: </strong>{{register.is_homeless}}</p>
<p><strong>Ethnicity: </strong>{{register.ethnicity}}</p>
<p><strong>Gender: </strong>{{register.gender}}</p>
<p><strong>Birthday: </strong>{{register.birthday. }}</p>
<p><strong>High School Completed:</strong>{{register.highschool_completed}}</p>
<p><strong>Disable:</strong>{{register.disable }}</p>
<p><strong>School:</strong>{{register.school}}</p>
<p><strong>Community Area: </strong>{{register.community_area }}</p>
<p><strong>Ward: </strong>{{register.ward}}</p>
<p><strong></strong>Signature of Applicant (Date):________________________________________</p>
<p><strong></strong>Intake Worker’s Signature (Date):_____________________________________</p>

</body>
</html>