<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
<h1>ENROLLMENT DETAILS</h1>
<p><strong>First Name: </strong>{{register.first}}</p>
<p><strong>Last Name: </strong>{{register.last}}</p>
<p><strong>Address: </strong>{{register.address}}</p>
<p><strong>Telephone: </strong>{{register.telephone}}</p>
<p><strong>Is Homeless: </strong>{{register.is_homeless}}</p>
<p><strong>Ethnicity: </strong>{{register.ethnicity}}</p>
<p><strong>Gender: </strong>{{register.gender}}</p>
<p><strong>Birthday: </strong>{{register.birthday. }}</p>
<p><strong>High School Completed:</strong>{{register.highschool_completed}}</p>
<p><strong>Disable:</strong>{{register.disable }}</p>
<p><strong>School:</strong>{{register.school}}</p>
<p><strong>Community Area: </strong>{{register.community_area }}</p>
<p><strong>Ward: </strong>{{register.ward}}</p>

<p>-----------------------------------------------------</p>

<h4>Other info</h4>
<p><strong>Name: </strong>{{household.name}}</p>
<p><strong>Family Type: </strong>{{household.family_type}}</p>
<p><strong>Housing: </strong>{{household.housing}}</p>
<p><strong>Food Stamps: </strong>{{household.food_stamps}}</p>
<p><strong>Free Lunch :</strong>{{household.free_lunch}}</p>
<p><strong>Insurance: </strong>{{household.insurance}}</p>
<p><strong>Employment: </strong>{{household.employment}}</p>

<p><strong></strong>Signature of Applicant (Date):________________________________________</p>
<p><strong></strong>Intake Worker’s Signature (Date):_____________________________________</p>

</body>
</html>